.user-cart__wrapper {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 1400px) {
  .user-cart__wrapper {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .user-cart__wrapper {
    width: 100%;
  }
}
