.authentication__header {
  color: white;
  text-align: center;
}
.auth__box {
  height: 83vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot_password {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_content {
  text-align: left;
}
.forgot_password_text p {
  margin: 0;
  color: #888888;
}

.authentication {
  width: 90%;
  max-width: 25rem;
  margin: 7rem auto;
  text-align: center;
  padding: 1rem;
  border-radius: 6px;
}

.authentication form {
  margin-bottom: 1rem;
}

.resetPassword {
  margin-bottom: 1rem;
}
.resetPassword_link {
  font-size: 0.9rem;
  text-decoration: none;
  color: #7f7a7a;
}

.btnStyle {
  margin: 0;
}
