.update-user__form {
  width: 77%;
}
.info {
  display: flex;
  justify-content: space-between;
}
.user-profile__profile-info {
  display: flex;
  /* margin-top: 1rem; */
}
.image-size {
  width: 7rem;
  height: 7rem;
}

.info_content {
  display: flex;
}
.update-profile_btn {
  margin: 0;
}
