.user-profile__wrapper {
  margin: 1rem auto;
  padding: 0;
  width: 90%;
  max-width: 65rem;
  display: flex;
  justify-content: space-between;
}

.user-profile__info {
  width: 77%;
  display: flex;
  justify-content: space-between;
}

.info__wrapper {
  display: inherit;
}

.avatar-size {
  width: 7rem;
  height: 7rem;
  margin: 1rem 0 0 1rem;
}

.user-profile__title {
  margin-left: 1rem;
}

.user-profile__profile-info {
  display: flex;
}

.user-profile__profile-info__title {
  display: inherit;
  flex-direction: column;
  justify-content: center;
}
.user-profile__profile-info__content {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}
.profile_label {
  font-weight: bold;
  margin: 0.8rem 0 0.8rem 1.5rem;
}

.user-profile__profile-info__content p {
  margin: 0.8rem 0 0.8rem 0;
}

.user-profile__footer a {
  margin: 0;
}
